@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
        /* Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        .no-scrollbar {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }

        .input,
        .select {
            margin-bottom: 0.5rem;
        }

        .label {
            padding-bottom: 0;
            padding-top: 0;
        }

        .divblox-bottom-banner-space {
            margin-bottom: 54px;
        }

        .btn-link:focus-visible {
            outline: none;
        }

        .btn-outline:focus-visible {
            outline: 2px solid white;
        }
    }
}
